<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这种用法在后面的todoMVC当中用上了，大家一定要搞明白</title>
</head>
<body ng-app="myApp" ng-controller="myController">
    <input type="text" ng-model="a">
    <input type="text" ng-model="b">
    <p ng-bind="getResult()"></p>
    <div ng-show="myShowFn()" style="width:100px;height:100px;background:blue;"></div>
    <script src="./node_modules/angular/angular.js"></script>
    <script>
        var myApp = angular.module('myApp',[]);
        myApp.controller('myController',function($scope){
            $scope.a = 0;
            $scope.b = $scope.a * 2;
            $scope.getResult = function(){
                return  $scope.a * 2;
            };
            $scope.myShowFn = function(){
                return $scope.a > 5;
            };
        });
    </script>
</body>
</html>