<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .tab .cont .item{
            width: 400px;
            height: 300px;
            border:1px solid green;
            display: none;
        }
        .tab .cont .item.show{
            display: block;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="tab">
        <div class="menu">
            <input type="button" value="1" ng-click="change(0)">
            <input type="button" value="2" ng-click="change(1)">
            <input type="button" value="3" ng-click="change(2)">
        </div>
        <div class="cont">
            <div class="item show">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
        </div>
    </div>
    <div class="ceshi">
        <h1>{{title}}</h1>
        <p>{{content}}</p>
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./model.js"></script>
    <script src="./app.js"></script>
    <script src="./controller.js"></script>
</body>
</html>